#carouselExampleInterval{
display: flex;
margin-top: 50px;
font-family: 'Times New Roman', Times, serif;
font-size: medium;

}
#wrap1{
    justify-content: space-between;
}
#wrap2{
    justify-content: space-between;
}
#wrap3{
    justify-content: space-between;
}