/* dashj.css */

/* Active item effect */
.nav-item.active {
  border-right: 4px solid #000; /* Black line for the active item */
  margin-right: -54px; /* Adjust margin to make it attached to the border */
}

/* Hover effect for the entire nav-link */
.nav-link,
.accordion .nav-link {
  color: #000; /* Set default text color to black */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for both background-color and color */
}

.nav-link:hover,
.accordion .nav-link:hover {
  background-color: #f0f0f0;
  color: #000; /* Set text color to black on hover */
}

/* Active link effect */
.active-link {
  background-color: #007bff !important; /* Use !important to ensure it takes precedence */
  color: #fff !important; /* Use !important to ensure it takes precedence */
}

/* Accordion active link effect */
.accordion .active-link {
  background-color: #007bff !important; /* Use !important to ensure it takes precedence */
  color: #fff !important; /* Use !important to ensure it takes precedence */
}

#sidebar{
  position: fixed;
  
}
