*{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
    border: 0;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

#admin1{
    border: 0;
    background-color: transparent;
}
.offcanvas{
    background-color: #061402ce;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    

}
